{% extends "layouts/main.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
  <h1>{{ title}}</h1>
  <canvas id="inputCanvas" width="200" height="200"></canvas>
    <br/>
    <label for="ticker" >Ticker</label>
    <input id="ticker" type="text">
</div>
<br/><br/>
<div class="row text-center">
    <button class="btn btn-primary" id="tickerButton">Stonks</button>
    <button class="btn btn-primary" id="clearButton">Clear</button>
    <button class="btn btn-primary" id="sendButton">Send data</button>
</div>
{% endblock %}
